.col-2,.col-6,.col-3,.col-1,.marg{
	border:1px solid black;
}
.menuIcon{
	width:24px;
}
.header,.col-2,.col-6,.col-3,.col-1{
	max-height:66px;
}
.searchDiv,.searchBar,.activeButton{
        background-color:#dbe1dd;
}
.techImg{
	height:20px;
        width:40px;
}